body{
    margin: 10px;
    background-color: rgb(239, 108, 8);
    
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.imag1{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img2{
    height: 500px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: rgb(8, 242, 8);
    background-color: rgb(70, 70, 147);
    border-radius: 50px;
    text-shadow: 4px 4px 4px black;
}
.img{
    background-color: yellow;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/frooti1.png);
}
p{
    text-indent: 50px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 10pxs;
}
.grid-container > div{
    background-color: aqua;
    text-align: center;
    padding: 10px;
    border: 3px solid black ;
}
.item1{
    text-align: center;
    margin:100px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-image:url(./assets/f1.jpg) ;
}
.item2{
    margin:100px;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-image:url(./assets/f10.jpg) ;
}
.item3{ 
    margin:100px;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-image:url(./assets/f1.jpg) ;
}
.item4{ 
    margin:100px;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-image:url(./assets/f6.jpg) ;
}
.item1:hover{
    width: 300px;
    height: 300px;

}
.item2:hover{
    width: 300px;
    height: 300px;

}
.item3:hover{
    width: 300px;
    height: 300px;

}
.item4:hover{
    width: 300px;
    height: 300px;
}
.flex{
    display: flex;
    flex-direction: row;
}